body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

.discount{
    height: 46px;  
    background-color:rgb(62, 9, 9);
    display: flex;
    justify-content: center;
}

.discount p{
  
  color: azure;
}
.discount-a{
    color: azure;
    font-size: 15px;
}
.header{
    margin-top: 38px;
    display: flex;
    margin-left: 25px; 
    justify-content: space-between;
    background-color:white;
}
.header-center{
  margin-top: -12px;
}
.header-right{
    margin-right: 3%;
    margin-top: -15px;
    display: flex;
}

.contact-header p{
    display: grid;
    color: black;
    font-size: 17px;
    line-height: 0;
}
.contact-header{
    padding-right: 10px;
    margin-top: -25px;
   
}
.header a{
  font-size: 15px;
  color: black;
  padding-left: 23px;
  padding-right: 23px;
  text-decoration: none;
  text-align: center;
}

.signup{
    background-color: rgb(232, 203, 55);
    border-radius: 22px;
    padding: 13px 27px;
}
img[src="logo.png"]{
    width: 130px;
    height:35px;
}
.login{
    border-radius: 22px;
    padding: 13px 27px;
}
.login:hover,.signup:hover,.product-action:hover,.plan-button:hover,.more-button:hover,.more-button-1:hover {
    box-shadow: 0 4px 0 rgb(0, 0, 0);
    transform: translateY(-0.50em);
    transition: 0.3s;
  }
.language{
    display: flex;
    padding-right: 8px;
    margin-top: 4%;
}
.search-bar{
   margin-top: 3.5%;
   padding-right:25px;
}
select.languages{
    border: none;
    font-size: 15px;
}
img[src="search.png"]{
    height: 18px;
    width: 18px;
    margin-top: 5%;
}
img[src="globe.png"]{
    height: 15px;
    width: 15px;
}

.p-1{
    font-size: 50px;
}
.p-2{
    margin: 0;
    margin-left:22%;
    width: 55%;
    font-size: 28px;
    margin-bottom: 40px;
}
.box-1 p,.plan-offer p{
    color: black;
}
.box-1{
    margin-top: 80px;
    text-align: center;
  
}
.products{
    margin-top: 75px;
    display: flex;
    padding: 0;
}
.product{
    display:grid ;
   
}
.product:hover img{
    transform: scale(1.2);
    transition: 0.5s;
    text-decoration:underline;
}
.product p{
    text-align:justify;
    font-size: 1.2em;
    color: black;
}
.product-desc{
    height: 10em;
    display: grid;
    padding-left: 30px;
    padding-right: 50px;
    
}
.product-img-inner {
    width:25em;
    float: left;
}
.product-action{
    border-radius: 35px;
    text-align: center;
    height: 43px;
    width: 50%;
}
.product-img p{
    position: absolute;
    font-size:25px;
    padding-left: 50px;
}
.plans p{
    color: black;
}
.discount-offer{
    text-align: center;
    margin-top: 7%;
}
.discount-offer .p2{
    margin: 0;
    font-size: 35px;
    padding: 0;
}
.standard-offer{
    background-color: rgb(147, 147, 245);
    height: 30px;
    width: 20.95%;
    border-style: solid;
    border-width: 0.8px;
    border-bottom: 0;
    margin-top: 3%;
    margin-left:28.95%;
    padding-bottom: 13px;
}
.offers{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
}
.offer-type{
    width: 25%;
    border-style: solid;
    border-width: 0.5px;
    padding-left: 25px;
    padding-right: 25px;
   
}
.offer-desc{
    text-align: left;
}
.offer-desc-1 p{
    margin: 0;
    padding: 0;
    text-align: left;
}
.old-price{
    text-decoration: line-through;
    font-size: 30px;
}
.new-price{
    font-size: 35px;
}
.offer-features{
    margin-top: 25px;
  
}
.features{
    border-style: solid;
    border-top: 0.3px solid;
    border-left: 0;
    border-right: 0;
    border-width: 0.1px;
    padding-top: 20px;
    border-bottom: 0;
    text-align: left;
}
.features span{
    border-bottom: 1.5px dashed;
}

.features-1 span{
    border-bottom: 1.5px dashed;
}
.features-1{
    text-align: left;
    border-style: solid;
    border-top: 0.3px solid;
    border-left: 0;
    border-right: 0;
    border-width: 0.1px;
    padding-top: 20px;
    border-bottom: 0;
    opacity: 0.3;
}
.plan-button{
    background-color: rgb(232, 203, 55);
    border-radius: 22px;
    padding: 13px 27px;
    margin-top: 0.5%;
    margin-left: 45%;
}
.customer-journey-note{
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}
.customer-journey-desc{
    display: flex;   
}
.customer-video{
    width:60%;
    float: left;
    padding: 0;
    margin: 0;
}
.customer-video img{
    
    width: 100%;
    height: 49.5%;
}
.customer-description{
    width: 50%;
    justify-content: space-between;
}
.customer-journes{
    margin-top: 25%;
    margin-bottom: 25%;
    margin-right: 20%;
    padding-left: 15%;
}
.customer-journes p{
    padding: 2px;
    margin: 0 ;
}
.customer-journey-main{
    font-size: 35px;
}
.customer-journey-sub{
    font-size: 25px;
}
.more-button{
    margin-top: 30px;
    border-radius: 25px;
    border-width: 0;
    padding: 13px 30px;
    background-color: white;
}

.customer-images{
    height:60em ;
    background-color: rgb(214, 169, 91);
    display: flex;
}
.customer-1{
    padding-left: 8%;
    padding-top: 23%;
    padding-right: 8%;
    margin-top: 0;  
    padding-top: 0;
    width: 47.9%;
}
.customer-1 button{
    display: grid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 17px;
    padding-top: 18px;
    text-align: start;
    background-color:  rgb(214, 169, 91);
    border-width: 1px;
    font-size: 20px;
    padding-right: 60%;

}
.customer-2{
    float: right;
}
.customer-2 img{
    
    width: 77.3%;
    height: 100%;
    float: right;
}
.integrate-note{
    margin-top: 5%;
    margin-left: 7%;
    font-size: 45px;
    margin-right: 45%;
    margin-bottom: 5%;
}
.integrations{
    display: flex;
    margin-left: 9%;
}
.link{
    display: flex;
    padding: 25px 25px;
    width: 45%;
}
.link img{
    padding-right: 19px;
    width: 25%;
}
.link:hover{
    background-color: rgb(223, 223, 223);
}
.more-button-1{
    margin-top: 30px;
    border-radius: 25px;
    border-width: 0;
    padding: 15px 30px;
    margin-left: 9%;
    background-color: rgb(255, 255, 255);
}
.more-button:hover,.more-button-1:hover{
    background-color: yellow;
    transition: 0.8s;
}
.disclaimer{
    padding-top: 7%;
    padding-bottom: 2%;
    padding-left: 7%;
    margin-right: 32%;
}
.disclaimer p{
    font-size: 10px;
}
.footer{
    background-color: rgb(236, 186, 99);
}
.related-links{
    display:flex;
    padding-left: 16%;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
    border-bottom: 2px solid;
    border-width: 1px;
}
.related-links p{
    padding-right: 3%;
}
.related-links a{
    padding-top: 2%;
    padding-right: 3%;
    font-size: 14px;
    color: black; 
}
.footer-item{
    display: flex;
    padding-top: 3.5%;
    padding-left: 13%;
    border-bottom: 2px solid;
    border-width: 1px;
    
}
.footer-column{
    width: 25%;
}
.footer-links{
    display: grid; 
 }
.footer-item{
display: flex;
}
.footer-column p{
margin: 0;
padding-bottom: 25px;
}
.footer-column a{
 font-size: 14px;
  color: rgb(44, 44, 44);
padding-bottom:15px ;
}
.last img{
    width: 160px;
}
.last{
    margin-left: 0;
     margin-right: 28%;
    margin-bottom: 7%;
}
.last p{
    margin-right: 50px;
    font-size: 15px;
}
.more-button-2{
    border-radius: 25px;
    border-width: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 45px;
    background-color:  rgb(236, 186, 99);
}
.more-button-2:hover{
    background-color: rgb(250, 250, 17);
    transition: 0.8s;
}
.apps{
    background-color: rgb(236, 186, 99);
    display: flex;
    padding-top:10%;
    margin:0 ;
}
.store{
    padding-left: 13%;
}
.store img{
    padding-right: 25px;
}

.mark img{
    width: 25%;
}
.copyrights{
    width: 29%;
    padding-right: 10%;
}
